/* custom.css */

/* Base styles */
.text-large {
    font-size: 7rem;
  }
  
  .text-huge {
    font-size: 10rem;
  }
  
  .text-medium {
    font-size: 6.5rem;
  }
  
  
  /* Responsive styles for small devices */
  @media (max-width: 640px) {
    .text-large {
      font-size: 2rem;
      margin: 0;
      padding: 0;
    }
  
    .text-huge {
      font-size: 2.5rem;
      margin: 0;
      padding: 0;
    }
  }
  